<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example with a side menu that hides on mobile, just like the Pure website.">
    <title>Responsive Side Menu &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="/css/pure/pure-min.css">
    <link rel="stylesheet" href="/layouts/side-menu/styles.css">
</head>
<body>

<div id="layout">
    <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

    <div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="#company">TIMCAST</a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#home" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About</a></li>

                <li class="pure-menu-item menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">Services</a>
                </li>

                <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="header">
            <h1>TIMCAST</h1>
            <h2>IRL</h2>
        </div>

        <div class="content">
            <h2 class="content-subhead">Become a Member</h2>
            <p>
              Subscribe and join us today for access to members only content and events.
              Email Members@Timcast.com if you have any issues and we will help get them sorted!
            </p>

            <h2 class="content-subhead">TIMCAST IRL</h2>
            <p>
                Timcast IRL is producing podcasts on cultural and political issues as well as interviews with prominent figures on topical issues.

                Join today to become a member and get access to exclusive bonus content with our guests, behind the scenes video, exclusive live streams, and access to events that we hold at our studio center on the East Coast

                Membership starts at $10 and grants you access to all of the above

                Help us expand and show your support by contributing more.

                $25 and up get first access to purchase event tickets which will be held periodically at our new studio venue
            </p>

            <div class="pure-g">
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="" alt="TIM1">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="" alt="TIM2">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="" alt="TIM3">
                </div>
                <div class="pure-u-1-4">
                    <img class="pure-img-responsive" src="" alt="TIM4">
                </div>
            </div>

            <h2 class="content-subhead">Donate via Bitcoin & more</h2>
            <p>
                Bitcoin Wallet: 
                3FUax4JovytztkQRAWSqMqMafPb213qzFd
<p>
                Litecoin Wallet:
                LbLKu56u2qmSPwnaKisN5cy96wN3BrB1ws
<p>
                Bitcoin Cash Wallet:
                1DPnafbB5qf9FWshEfVDKH8Q2JFwgyjs1q
<p>
                Ethereum Wallet:
                0xf9d82700231e17b8720db8ad6d78059640535b64
            </p>
        </div>
    </div>
</div>

<script src="/js/ui.js"></script>

</body>
</html>